@model WatchList

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <h1 class="text-center">Create watchlist</h1>
            <form asp-action="CreateWatchList" method="post">
                <div class="form-group">
                    <label asp-for="Title"><b>Title:</b></label>
                    <div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <input asp-for="Title" class="form-control" />                 
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Creator"><b>Creator:</b></label>
                    <div>
                        <span asp-validation-for="Creator" class="text-danger"></span>
                    </div>
                    <input asp-for="Creator" class="form-control" />
                </div>
                <div class="text-center mt-2">
                    <input class="btn btn-lg btn-primary" type="submit" value="CREATE WATCHLIST" />
                </div>
            </form>
        </div>
    </div>
</div>
