@model WatchListViewModel

@{
    bool watchListIsEmpty = Model?.WatchListMovies?.Count() == 0 ? true : false;
}

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-4">
            <div class="card text-center border border-2 border-dark">
                <div class="card-body">
                    <h3 class="card-title">Create new watchlist</h3>
                    <a asp-action="CreateWatchList" class="btn btn-primary btn-lg">CREATE</a>
                 </div>
            </div>
            <partial name="_SelectWatchListPartial" model="@Model?.WatchLists">
        </div>

        <div class="col">
            @if (!watchListIsEmpty)
            {
                <h1>@Model?.WatchListMovies?.ElementAt(0)?.WatchList?.Title</h1>
                @foreach (WatchListMovies watchListMovie in Model?.WatchListMovies ?? Enumerable.Empty<WatchListMovies>())
                {
                    <p>Title: @watchListMovie?.Movie?.Title</p>
                }
            }
            else
            {
                <h1>Watchlist is empty</h1>
            }
             
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {

        $("#selectWatchList").change(function () {
            $("#selectWatchListForm").submit();
        });

    });
</script>