<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="bg-black text-white">
        <div class="container">
            <h1 class="fw-bold text-center">MyMovies</h1>
            <div class="row">
                <h3 class="col-4 navbar-text text-center anchorh3"><a asp-controller="Home" asp-action="index">HOME</a></h3>
                <h3 class="col-4 navbar-text text-center anchorh3"><a asp-controller="Search" asp-action="getall">SEARCH</a></h3>
                <h3 class="col-4 navbar-text text-center anchorh3"><a asp-controller="WatchList" asp-action="index">WATCHLIST</a></h3>
            </div>
        </div>
        
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
