@model IEnumerable<Movie>

@foreach (var movie in Model) 
{
    <h6 class="bg-secondary text-white text-center m-2 p-2">Movies</h6>
    <div class="m-2">
        <table class="table table-sm table-striped table-bordered">
            <tbody>
                <tr><th>Title</th><td>@movie.Title</td></tr>
                <tr><th>Genre</th><td>@movie.Genre?.Name</td></tr>
                <tr><th>MPAA</th><td>@movie.Mpaa?.Title</td></tr>
            </tbody>
        </table>
    </div>
}

