@model IEnumerable<Movie>

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-4">Hey</div>
        <div class="col">
            <h6 class="bg-secondary text-white text-center p-2">Movies</h6>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th id="title">Title</th>
                        <th>Genre</th>
                        <th>MPAA</th>
                    </tr>
                </thead>

                @foreach (var movie in Model)
                {
                    <tbody>
                        <tr class="test">
                            <td>@movie.Title</td>
                            <td>@movie.Genre?.Name</td>
                            <td>@movie.Mpaa?.Title</td>
                            <td><button type="button" class="btn btn-primary btn-sm infoclick">Show Info</button></td>
                            <td><button type="submit" class="btn btn-success btn-sm">Add to watchlist</button></td>
                        </tr>
                        <tr class="hideRow">

                            <partial name="_InfoPartial" model="@movie">
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>


<script src="/lib/jquery/jquery.js"></script>

<script>
    $(document).ready(function(){
        $(".infoclick").click(function(){
            $(this).parent().parent().siblings().toggle();
            $(this).text($(this).text() == "Hide Info" ? "Show Info" : "Hide Info");
        })
    });
</script>