@model IEnumerable<Movie>

<h6 class="bg-secondary text-white text-center m-2 p-2">Movies</h6>
<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>MPAA</th>
            </tr>
        </thead>

        @foreach (var movie in Model) {
            <tbody>
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Genre?.Name</td>
                    <td>@movie.Mpaa?.Title</td>
                </tr>
            </tbody>
        }
    </table>
</div>


