<div class="welcome-box text-center">
    <h1><b>Welcome to MyMovies</b></h1>
    <div>
        <h3><b>CREATE</b> <i>watchlist(s)</i></h3>
        <h3><b>ADD</b> <i>movies to watchlist</i></h3>
        <h3><b>UPDATE</b> <i>your rating of movie</i></h3>
        <h3><b>DELETE</b> <i>watchlist</i></h3>
    </div>
</div>