<div class="welcome-box text-center">
    <h1>Welcome to MyMovies</h1>
    <div style="font-size: x-large">
        Create your own movie watchlist
        <div>ADD</div>
        <div>UPDATE</div>
        <div>DELETE</div>
    </div>
</div>