.welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.anchorh3:hover {
    color: gold;
}

.hideRow {
    display: none;
}

.editButton {
    background-color: orange;
    border-color: orange;
}

.editButton:hover {
    background-color: #c68102 !important;
    border-color: #c68102 !important;
}
